.service-block
    border: 3rem solid $primary-color
    border-radius: 8rem
    padding: 20rem 30rem

.base
    margin-bottom: 20rem


.base__service
    display: grid
    grid-template-columns: 326rem 180rem 1fr 68rem
    margin-bottom: 10rem

    & input
        border-radius: 8rem
        outline: 0
        cursor: text
        color: #fff
        border: 1rem solid rgba(255,255,255,.3)
        background: $input-background
        padding-left: 4rem

.service__description
    margin-top: 10rem
    grid-column: 1 / 5
    display: none

    font-size: 16rem

    color: $second-color

.service-name:hover
    color: $second-color
    cursor: pointer

.base__cost span
    font-size: 26rem

    color: $second-color
    

