.layout-calculator
    width: 850rem
    padding: 40rem 60rem
    display: flex
    flex-direction: column
    position: absolute
    transform: translate(-50%, 0%)
    top: 30rem
    left: 50%

    font-size: 22rem

    background-color: $background-color
    border-radius: 11rem